<section class="c-treners-section">
  <article>
    <div class="container-fluid">
      <h1 class="mb-6">Trenéři</h1>
    </div>
    <div class="wrapper container-fluid mb-20">
      <div class="container-fluid mb-20 bg-white box-shadow p-5 p-md-8">
        <div class="row">
       
          <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="d-flex mb-6">
                <img data-src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=60&amp;h=60&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/realizacni_tym/martin_chabada_MUZ.jpg" width="60" height="60" class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow loaded" alt="" src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=60&amp;h=60&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/realizacni_tym/martin_chabada_MUZ.jpg">
                <div class="ml-4">
                    <div class="text-secondary mb-1 font-size-bigger font-secondary font-weight-bold">
                        Martin Chabada
                    </div>
                    <div class="font-weight-bold mb-2 font-size-small">
                        Trenér ročníku 2007
                    </div>
                    <div class="typography">
                        <p class="font-size-small">
                            <p>Bývalý úspěšný reprezentant, trojnásobný mistr extraligy, kapitán HC Sparta Praha, hrál nejvyšší soutěž ve Švédsku za tým Lulea, KHL za Lev Poprad nebo švýcarský EHC Biel. Po konci aktivní kariéry v roce 2013 založil hokejový klub HC Buldoci Neratovice.</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="d-flex mb-6">
                <img data-src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=60&amp;h=60&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/realizacni_tym/michal_bros_MUZ.jpg" width="60" height="60" class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow loaded" alt="" src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=60&amp;h=60&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/realizacni_tym/michal_bros_MUZ.jpg">
                <div class="ml-4">
                    <div class="text-secondary font-size-bigger font-secondary mb-1 font-weight-bold">
                        Michal Broš
                    </div>
                    <div class="font-weight-bold mb-2 font-size-small">
                        Trenér ročníku 2006
                    </div>
                    <div class="typography">
                        <p class="font-size-small">
                            <p>Mistr světa z roku 2000, celkem 62 zápasů za českou reprezentaci, 4 tituly z české Extraligy, 2 tituly z finské ligy, týmy: Kärpät Oulu, HC Sparta Praha, HC Vsetín, BK Mladá Boleslav, HC Olomouc.</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="d-flex mb-6">
                <img data-src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=60&amp;h=60&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/realizacni_tym/jan_horevaj_MUZ.jpg" width="60" height="60" class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow loaded" alt="" src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=60&amp;h=60&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/realizacni_tym/jan_horevaj_MUZ.jpg">
                <div class="ml-4">
                    <div class="text-secondary mb-1 font-size-bigger font-secondary font-weight-bold">
                        Jan Horevaj
                    </div>
                    <div class="font-weight-bold mb-2 font-size-small">
                        Trenér ročníku 2008
                    </div>
                    <div class="typography">
                        <p class="font-size-small">
                            <p>S hokejem začínal v Neratovicích, krátce působil na Mělníku a pak přestoupil do Sparty, kde působil až do 1. ligy juniorů a následně hrál za Hvězdu Praha 2. ligu za tým mužů.</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="d-flex mb-6">
                <img data-src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=60&amp;h=60&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/realizacni_tym/jakub_mrazek_MUZ.jpg" width="60" height="60" class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow loaded" alt="" src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=60&amp;h=60&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/realizacni_tym/jakub_mrazek_MUZ.jpg">
                <div class="ml-4">
                    <div class="text-secondary mb-1 font-size-bigger font-secondary font-weight-bold">
                        Jakub Mrázek
                    </div>
                    <div class="font-weight-bold mb-2 font-size-small">
                        Trenér ročníku 2009
                    </div>
                    <div class="typography">
                        <p class="font-size-small">
                            <p>S hokejem začínal v Neratovicích, ve 13 odešel do Liberce, kde byl dva roky kapitánem juniorky. Následně hrál 1. ligu za Benátky nad Jizerou a pak se rozhodl vrátit k Buldokům a věnovat se trenérské kariéře.</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="d-flex mb-6">
                <img data-src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=60&amp;h=60&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/realizacni_tym/petr_znamenacek_MUZ.jpg" width="60" height="60" class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow loaded" alt="" src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=60&amp;h=60&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/realizacni_tym/petr_znamenacek_MUZ.jpg">
                <div class="ml-4">
                    <div class="text-secondary mb-1 font-size-bigger font-secondary font-weight-bold">
                        Petr Znamenáček
                    </div>
                    <div class="font-weight-bold mb-2 font-size-small">
                        Trenér ročníku 2010 a 2011
                    </div>
                    <div class="typography">
                        <p class="font-size-small">
                            <p>S hokejem začínal na Spartě, kde hrál až do juniorky. Na vojně hrál 2. ligu v Kralupech nad Vltavou a hned poté začal trénovat na Spartě. Byl postupně trenérem u všech dětských a mládežnických věkových kategorií, trénoval mj. hráče jako Patrik Štefan, Michal Sivek nebo Martin Podlešák (NHL). Ze Sparty odešel na pozici šéftrenéra do Nymburka a odtud do Mělníka. V roce 2016 se stal trenérem Buldoků.</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="d-flex mb-6">
                <img data-src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=60&amp;h=60&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/realizacni_tym/michal_parik_MUZ.jpg" width="60" height="60" class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow loaded" alt="" src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=60&amp;h=60&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/realizacni_tym/michal_parik_MUZ.jpg">
                <div class="ml-4">
                    <div class="text-secondary mb-1 font-size-bigger font-secondary font-weight-bold">
                        Michal Pařík
                    </div>
                    <div class="font-weight-bold mb-2 font-size-small">
                        Trenér ročníků 2012, 2013 a mladších
                    </div>
                    <div class="typography">
                        <p class="font-size-small">
                            <p>S hokejem začínal v Neratovicích, odkud šel do Kralup nad Vltavou a přes pražské Letňany se vrátil zpět do Neratovic. “Dobří holubi se vracejí”</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </article>
</section>
