<div class="container-fluid mb-9 container-banner">
  <a
    class="d-block text-center"
    href="clanek.asp?id=Tyden-hokeje-v-Neratovicich-jiz-27-1-31"
  >
    <img src="/images/content/pub.jpeg" alt="" />
  </a>
</div>
