<section class="c-player-section">
  <div class="container-fluid mb-21 mt-21">
    <div class="row align-items-lg-center no-gutters">
      <div class="col-12 col-md-3 mb-6 mb-md-0">
        <img
          src="/images/default_player.png"
          data-srcset="/images/default_player.png
                 "
          alt=""
          class="img-fluid d-block w-100"
        />
      </div>
      <div class="col-12 col-md-9 pl-md-6 pl-lg-23">
        <div class="row align-items-end">
          <div class="col-12 col-lg-7">
            <h1 class="text-primary mb-6">Radim&nbsp;Vašíček</h1>
            <div class="row mb-4">
              <div class="col-4">
                Číslo hrače
                <div class="font-secondary font-weight-bold">#89</div>
              </div>
              <div class="col-4 col-lg-3">
                Věk
                <div class="font-secondary font-weight-bold">35 let</div>
              </div>
              <div class="col-4">
                Výška
                <div class="font-secondary font-weight-bold">182 cm</div>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-md-4">
                Národnost
                <div
                  class="font-secondary font-weight-bold d-flex align-items-center"
                >
                  <img
                    src="/images/ico/cz.svg"
                    width="23"
                    height="17"
                    alt=""
                    class=""
                  />
                  CZ
                </div>
              </div>
              <div class="col-4 col-lg-3">
                Váha
                <div class="font-secondary font-weight-bold">90 kg</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mb-20">
    <div class="bg-white box-shadow p-6 pl-xl-23 pr-xl-23 pb-lg-8 pt-lg-8">
      <h2 class="gamma text-primary">Brankáři</h2>
      <div class="row mb-4">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Radim-Vasicek-95&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Radim Vašíček</a
                >
              </div>
              <div class="font-size-small">#89 / 35 let</div>
            </div>
          </div>
        </div>
      </div>
      <h2 class="gamma text-primary">Obránci</h2>
      <div class="row mb-4">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Jan-Horevaj-81&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Jan Horevaj</a
                >
              </div>
              <div class="font-size-small">#95 / 27 let</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Dominik-Makovsky-85&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Dominik Makovský</a
                >
              </div>
              <div class="font-size-small">#76 / 28 let</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Jakub-Mrazek-87&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Jakub Mrázek</a
                >
              </div>
              <div class="font-size-small">#4 / 28 let</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Michal-Parik-88&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Michal Pařík</a
                >
              </div>
              <div class="font-size-small">#6 / 24 let</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Miloslav-Sojka-92&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Miloslav Sojka</a
                >
              </div>
              <div class="font-size-small">#16 / 47 let</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Lubos-Strizek-93&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Luboš Střížek</a
                >
              </div>
              <div class="font-size-small">#12 / 41 let</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Ondrej-Simek-91&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Ondřej Šimek</a
                >
              </div>
              <div class="font-size-small">#25 / 40 let</div>
            </div>
          </div>
        </div>
      </div>
      <h2 class="gamma text-primary">Útoční­ci</h2>
      <div class="row mb-4">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Martin-Bartos-78&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Martin Bartoš</a
                >
              </div>
              <div class="font-size-small">#85 / 37 let</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Martin-Chabada-79&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Martin Chabada</a
                >
              </div>
              <div class="font-size-small">#14</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Michael-Chvojka-80&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Michael Chvojka</a
                >
              </div>
              <div class="font-size-small">#13 / 29 let</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=David-Macek-84&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >David Macek</a
                >
              </div>
              <div class="font-size-small">#83 / 38 let</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Oldrich-Matejka-86&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Oldřich Matějka</a
                >
              </div>
              <div class="font-size-small">#94 / 20 let</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Vaclav-Pek-89&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Václav Pek</a
                >
              </div>
              <div class="font-size-small">#7 / 46 let</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Lukas-Prejza-90&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Lukáš Prejza</a
                >
              </div>
              <div class="font-size-small">#22 / 37 let</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Lukas-Stukheil-94&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Lukáš Štukheil</a
                >
              </div>
              <div class="font-size-small">#17 / 37 let</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Jaroslav-Vesely-96&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Jaroslav Veselý</a
                >
              </div>
              <div class="font-size-small">#11 / 31 let</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Marek-Vocadlo-97&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Marek Vočadlo</a
                >
              </div>
              <div class="font-size-small">#8 / 31 let</div>
            </div>
          </div>
        </div>
      </div>
      <h2 class="gamma text-primary">Hráči</h2>
      <div class="row mb-4">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Ondrej-Davidek-188&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Ondřej Davídek</a
                >
              </div>
              <div class="font-size-small">/ 26 let</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Pavel-Kresta-189&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Pavel Kresta</a
                >
              </div>
              <div class="font-size-small">/ 42 let</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Martin-Vazansky-174&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Martin Važanský</a
                >
              </div>
              <div class="font-size-small">#91 / 34 let / L</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="d-flex align-items-center mb-6 position-relative">
            <img
              src="/images/default_player.png
                 "
              data-src="/images/default_player.png
                 "
              width="60"
              height="60"
              class="border border-white border-5 rounded-circle d-block lazy js-lazy box-shadow"
              alt=""
            />
            <div class="ml-4">
              <div
                class="text-secondary font-size-bigger font-secondary font-weight-bold"
              >
                <a
                  href="hrac.asp?id=Alexandr-Vorobjev-190&amp;sezona=2022&amp;kategorie=MUZ"
                  class="stretched-link text-decoration-none"
                  >Alexandr Vorobjev</a
                >
              </div>
              <div class="font-size-small">/ 21 let</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
