<section class="c-statistics-section">
  <div class="container-fluid">
    <h1 class="mb-6">Statistiky</h1>
  </div>
  <div class="container-fluid mb-20 bg-white box-shadow p-5 p-md-8">
    <div class="row no-gutters align-items-center justify-content-end mb-6">
      <label
        for="season"
        class="col-4 col-md-auto d-block font-weight-bold mr-md-4 font-size-smaller"
        >Sezóna:</label
      >
      <div class="col-8 col-md-auto mr-md-5">
        <select name="season" id="season" class="select-css">
          <option value="">2020/2021</option>
          <option value="">2019/2020</option>
        </select>
      </div>
      <label
        for="season"
        class="col-4 col-md-auto d-block font-weight-bold mr-md-4 mt-4 mt-md-0 font-size-smaller"
        >Časť:</label
      >
      <div class="col-8 col-md-auto mt-4 mt-md-0">
        <select name="season" id="season" class="select-css">
          <option value="">Základná časť</option>
          <option value="">Playoff</option>
        </select>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Hráč</th>
            <th>Tím</th>
            <th>Zápasy</th>
            <th>Góly</th>
            <th>Efektivita</th>
            <th>Žlté karty</th>
            <th>Červené karty</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.</td>
            <td>
              <a href="profil-hrace.html" class="text-primary">Tomáš Pokorný</a>
            </td>
            <td>
              <a
                href="profil-klubu.html"
                class="d-flex text-primary align-items-center text-nowrap font-weight-bold"
              >
                <img
                  data-src="/images/content/ner1.png
                 "
                  alt=""
                  class="d-block mr-2 lazy js-lazy loaded"
                  width="30"
                  height="30"
                  src="/images/content/ner1.png
                 "
                />
                Tiki Taka
              </a>
            </td>
            <td>25</td>
            <td>15</td>
            <td>10</td>
            <td>10</td>
            <td>3</td>
          </tr>
          <tr>
            <td>1.</td>
            <td>
              <a href="profil-hrace.html" class="text-primary">Tomáš Pokorný</a>
            </td>
            <td>
              <a
                href="profil-klubu.html"
                class="d-flex text-primary align-items-center text-nowrap font-weight-bold"
              >
                <img
                  data-src="/images/content/ner1.png
                 "
                  alt=""
                  class="d-block mr-2 lazy js-lazy loaded"
                  width="30"
                  height="30"
                  src="/images/content/ner1.png
                 "
                />
                Tiki Taka
              </a>
            </td>
            <td>25</td>
            <td>15</td>
            <td>10</td>
            <td>10</td>
            <td>3</td>
          </tr>
          <tr>
            <td>1.</td>
            <td>
              <a href="profil-hrace.html" class="text-primary">Tomáš Pokorný</a>
            </td>
            <td>
              <a
                href="profil-klubu.html"
                class="d-flex text-primary align-items-center text-nowrap font-weight-bold"
              >
                <img
                  data-src="/images/content/ner1.png
                 "
                  alt=""
                  class="d-block mr-2 lazy js-lazy loaded"
                  width="30"
                  height="30"
                  src="/images/content/ner1.png
                 "
                />
                Tiki Taka
              </a>
            </td>
            <td>25</td>
            <td>15</td>
            <td>10</td>
            <td>10</td>
            <td>3</td>
          </tr>
          <tr>
            <td>1.</td>
            <td>
              <a href="profil-hrace.html" class="text-primary">Tomáš Pokorný</a>
            </td>
            <td>
              <a
                href="profil-klubu.html"
                class="d-flex text-primary align-items-center text-nowrap font-weight-bold"
              >
                <img
                  data-src="/images/content/ner1.png
                 "
                  alt=""
                  class="d-block mr-2 lazy js-lazy loaded"
                  width="30"
                  height="30"
                  src="/images/content/ner1.png
                 "
                />
                Tiki Taka
              </a>
            </td>
            <td>25</td>
            <td>15</td>
            <td>10</td>
            <td>10</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
