<section>
            
        
    
   <div class="container-fluid">
       <h1 class="mb-6">Novinky</h1>
   </div>
   
   <div class="container-fluid mb-20">
       <div class="row">
   

               
   
                       
   <div class="col-12 col-md-6 col-lg-4 mb-6">
       <article>            
           <img src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=420&amp;h=250&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/articles_photo/31_buldoci-2022.jpg" width="420" height="250" alt="" class="d-block w-100 img-fluid" />
           <div class="bg-white pt-4 pl-4 pr-4 pl-lg-6 pr-lg-6 pb-4 position-relative z-index-5">
               <time class="d-block text-secondary font-secondary font-size-smaller mb-2" datetime="2020-05-18T">před 2 dny</time>
               <h3 class="delta mb-0"><a href="clanek.asp?id=Mladsi-dorost-vstupuje-do-pripravy-na-sezonu-2022-23-31" class="text-decoration-none stretched-link text-primary">Mladší dorost vstupuje do přípravy na sezónu 2022/23</a></h3>
           </div>
       </article>
   </div>
                   
                       
                       
   <div class="col-12 col-md-6 col-lg-4 mb-6">
       <article>            
           <img src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=420&amp;h=250&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/articles_photo/27_buldoci-nabor-2011.png" width="420" height="250" alt="" class="d-block w-100 img-fluid" />
           <div class="bg-white pt-4 pl-4 pr-4 pl-lg-6 pr-lg-6 pb-4 position-relative z-index-5">
               <time class="d-block text-secondary font-secondary font-size-smaller mb-2" datetime="2020-05-18T">18. 7. 2022</time>
               <h3 class="delta mb-0"><a href="clanek.asp?id=Nabor-malych-hokejistu-a-hokejistek-27" class="text-decoration-none stretched-link text-primary">Nábor malých hokejistů a hokejistek.</a></h3>
           </div>
       </article>
   </div>
                   
                       
                       
   <div class="col-12 col-md-6 col-lg-4 mb-6">
       <article>            
           <img src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=420&amp;h=250&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/articles_photo/30_upper-edge-skate-sharpening.jpg" width="420" height="250" alt="" class="d-block w-100 img-fluid" />
           <div class="bg-white pt-4 pl-4 pr-4 pl-lg-6 pr-lg-6 pb-4 position-relative z-index-5">
               <time class="d-block text-secondary font-secondary font-size-smaller mb-2" datetime="2020-05-18T">10. 1. 2022</time>
               <h3 class="delta mb-0"><a href="clanek.asp?id=Brouseni-brusli-pan-Vaclav-Pek-st-tel-603-518-988-30" class="text-decoration-none stretched-link text-primary">Broušení bruslí pan Václav Pek st. tel 603 518 988</a></h3>
           </div>
       </article>
   </div>
                   
                       
                       
   <div class="col-12 col-md-6 col-lg-4 mb-6">
       <article>            
           <img src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=420&amp;h=250&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/articles_photo/29_nabor-21-22.png" width="420" height="250" alt="" class="d-block w-100 img-fluid" />
           <div class="bg-white pt-4 pl-4 pr-4 pl-lg-6 pr-lg-6 pb-4 position-relative z-index-5">
               <time class="d-block text-secondary font-secondary font-size-smaller mb-2" datetime="2020-05-18T">14. 12. 2021</time>
               <h3 class="delta mb-0"><a href="clanek.asp?id=Nabor-malych-hokejistu-a-hokejistek-29" class="text-decoration-none stretched-link text-primary">Nábor malých hokejistů a hokejistek.</a></h3>
           </div>
       </article>
   </div>
                   
                       
                       
   <div class="col-12 col-md-6 col-lg-4 mb-6">
       <article>            
           <img src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=420&amp;h=250&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/articles_photo/28_pojd-hrat-hokej.jpg" width="420" height="250" alt="" class="d-block w-100 img-fluid" />
           <div class="bg-white pt-4 pl-4 pr-4 pl-lg-6 pr-lg-6 pb-4 position-relative z-index-5">
               <time class="d-block text-secondary font-secondary font-size-smaller mb-2" datetime="2020-05-18T">1. 9. 2021</time>
               <h3 class="delta mb-0"><a href="clanek.asp?id=Akce-Tyden-hokeje-v-Neratovicich-28" class="text-decoration-none stretched-link text-primary">Akce Týden hokeje v Neratovicích</a></h3>
           </div>
       </article>
   </div>
                   
                       
                       
   <div class="col-12 col-md-6 col-lg-4 mb-6">
       <article>            
           <img src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=420&amp;h=250&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/articles_photo/25_postup-do-finale.jpg" width="420" height="250" alt="" class="d-block w-100 img-fluid" />
           <div class="bg-white pt-4 pl-4 pr-4 pl-lg-6 pr-lg-6 pb-4 position-relative z-index-5">
               <time class="d-block text-secondary font-secondary font-size-smaller mb-2" datetime="2020-05-18T">2. 3. 2021</time>
               <h3 class="delta mb-0"><a href="clanek.asp?id=Buldoci-vyhrali-krajskou-soutez-25" class="text-decoration-none stretched-link text-primary">Buldoci vyhráli krajskou soutěž</a></h3>
           </div>
       </article>
   </div>
                   
                       
                       
   <div class="col-12 col-md-6 col-lg-4 mb-6">
       <article>            
           <img src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=420&amp;h=250&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/articles_photo/24_14.png" width="420" height="250" alt="" class="d-block w-100 img-fluid" />
           <div class="bg-white pt-4 pl-4 pr-4 pl-lg-6 pr-lg-6 pb-4 position-relative z-index-5">
               <time class="d-block text-secondary font-secondary font-size-smaller mb-2" datetime="2020-05-18T">2. 3. 2021</time>
               <h3 class="delta mb-0"><a href="clanek.asp?id=Stan-se-jednim-z-nas-24" class="text-decoration-none stretched-link text-primary">Staň se jedním z nás!</a></h3>
           </div>
       </article>
   </div>
                   
                       
                       
   <div class="col-12 col-md-6 col-lg-4 mb-6">
       <article>            
           <img src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=420&amp;h=250&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/articles_photo/26_soucasnost.jpg" width="420" height="250" alt="" class="d-block w-100 img-fluid" />
           <div class="bg-white pt-4 pl-4 pr-4 pl-lg-6 pr-lg-6 pb-4 position-relative z-index-5">
               <time class="d-block text-secondary font-secondary font-size-smaller mb-2" datetime="2020-05-18T">1. 3. 2021</time>
               <h3 class="delta mb-0"><a href="clanek.asp?id=Prubeh-sezony-2019-20-26" class="text-decoration-none stretched-link text-primary">Průběh sezóny 2019/20</a></h3>
           </div>
       </article>
   </div>
                   
                       
           </div>
       </div>
       <div class="mt-6">
           <div class="d-flex justify-content-center align-items-center">
               
           </div>
       </div>
   </div>
</section>