<section class="c-statistics-section">
  <div class="wrapper container-fluid mb-9">
    <div
      class="bg-white box-shadow p-6 pl-lg-8 pr-lg-8 pl-xl-23 pr-xl-23 pb-lg-8 pt-lg-8"
    >
      <div class="row justify-content-between">
        <!-- last game -->

        <div class="col-12 col-md-6 col-lg-5 mb-8 mb-md-0">
          <h3 class="text-center text-primary mb-6">Poslední utkání</h3>
          <div
            class="font-secondary text-center font-weight-bold font-size-smaller mb-1"
          >
            , sobota 6.11.
          </div>
          <div
            class="font-secondary text-center font-weight-bold font-size-smaller mb-5"
          >
            Neratovice, Buldok Arena
          </div>
          <div class="row no-gutters align-items-center">
            <div class="col-3 col-md-2 col-lg-3 text-center flex-md-shrink-0">
              <img
                src="./images/content/ner1.png"
                class="d-block ml-auto mr-auto mb-3 img-fluid"
                alt="HC Buldoci Neratovice"
                width="100"
                height="100"
              />
              <div
                class="font-size-smaller font-secondary font-weight-bold d-none d-lg-block"
              >
                HC Buldoci Neratovice
              </div>
            </div>
            <div class="flex-grow-1 w-auto">
              <div class="alfa text-center text-primary mb-2">10:0</div>
              <div class="d-flex justify-content-center">
                <div class="btn btn-outline-secondary btn-sm">
                  <a href="#">report</a>
                </div>
              </div>
            </div>
            <div class="col-3 col-md-2 col-lg-3 text-center flex-md-shrink-0">
              <img
                src="./images/content/ner1.jpeg"
                class="d-block ml-auto mr-auto mb-3 img-fluid"
                alt="SK Černošice"
                width="100"
                height="100"
              />
              <div
                class="font-size-smaller font-secondary font-weight-bold d-none d-lg-block"
              >
                SK Černošice
              </div>
            </div>
          </div>
          <div class="text-center mt-6">
            <a href="#" class="font-size-smaller">Zobrazit všechny zápasy</a>
          </div>
        </div>

        <!-- table -->
        <div class="col-12 col-md-6 col-lg-6">
          <h3 class="text-center text-primary mb-6">Tabulka</h3>

          <table class="table my_table small_table table-league">
            <tr>
              <th title="Pozice">#</th>
              <th title="Název týmu">Tým</th>
              <th title="Zápasy">Z</th>
              <th title="Výhry">V</th>

              <th title="Výhry v prodloužení">Vp</th>
              <th title="Prohry v prodloužení">Pp</th>

              <th title="Prohry">P</th>
              <th title="Vstřelené branky">VB</th>
              <th title="Inkasované branky">IB</th>
              <th title="Skóre">+/-</th>
              <th title="Body">B</th>
            </tr>

            <tr class="PRI">
              <td>1.</td>
              <td>HC Příbram B</td>
              <td>19</td>
              <td>18</td>

              <td>0</td>
              <td>1</td>

              <td>0</td>
              <td>127</td>
              <td>63</td>
              <td>+64</td>
              <td>55</td>
            </tr>

            <tr class="WOLF">
              <td>2.</td>
              <td>HC Buldoci Neratovice</td>
              <td>19</td>
              <td>10</td>

              <td>4</td>
              <td>2</td>

              <td>3</td>
              <td>127</td>
              <td>75</td>
              <td>+52</td>
              <td>40</td>
            </tr>

            <tr class="BNJ">
              <td>3.</td>
              <td>HC Benátky n.J. B</td>
              <td>19</td>
              <td>13</td>

              <td>0</td>
              <td>1</td>

              <td>5</td>
              <td>93</td>
              <td>50</td>
              <td>+43</td>
              <td>40</td>
            </tr>

            <tr class="HKP">
              <td>4.</td>
              <td>HK Příbram 99</td>
              <td>19</td>
              <td>11</td>

              <td>1</td>
              <td>2</td>

              <td>5</td>
              <td>108</td>
              <td>80</td>
              <td>+28</td>
              <td>37</td>
            </tr>

            <tr class="HOŘ">
              <td>5.</td>
              <td>HC Cvočkaři Hořovice</td>
              <td>19</td>
              <td>11</td>

              <td>1</td>
              <td>0</td>

              <td>7</td>
              <td>92</td>
              <td>75</td>
              <td>+17</td>
              <td>35</td>
            </tr>

            <tr class="NYM">
              <td>6.</td>
              <td>HC Nymburský Lev, z.s.</td>
              <td>19</td>
              <td>10</td>

              <td>2</td>
              <td>1</td>

              <td>6</td>
              <td>112</td>
              <td>97</td>
              <td>+15</td>
              <td>35</td>
            </tr>

            <tr class="SED">
              <td>7.</td>
              <td>Tatran Sedlčany</td>
              <td>19</td>
              <td>11</td>

              <td>0</td>
              <td>1</td>

              <td>7</td>
              <td>90</td>
              <td>63</td>
              <td>+27</td>
              <td>34</td>
            </tr>

            <tr class="LET">
              <td>8.</td>
              <td>HC Letci Letňany B</td>
              <td>19</td>
              <td>8</td>

              <td>2</td>
              <td>3</td>

              <td>6</td>
              <td>100</td>
              <td>89</td>
              <td>+11</td>
              <td>31</td>
            </tr>

            <tr class="SOL">
              <td>9.</td>
              <td>TJ Sokol Solopisky z.s.</td>
              <td>19</td>
              <td>10</td>

              <td>0</td>
              <td>0</td>

              <td>9</td>
              <td>127</td>
              <td>115</td>
              <td>+12</td>
              <td>30</td>
            </tr>

            <tr class="ŽIL">
              <td>10.</td>
              <td>SK VELC Žilina</td>
              <td>19</td>
              <td>6</td>

              <td>1</td>
              <td>0</td>

              <td>12</td>
              <td>75</td>
              <td>103</td>
              <td>-28</td>
              <td>20</td>
            </tr>

            <tr class="ZIZ">
              <td>11.</td>
              <td>SK Žižkov Praha</td>
              <td>19</td>
              <td>6</td>

              <td>1</td>
              <td>0</td>

              <td>12</td>
              <td>93</td>
              <td>127</td>
              <td>-34</td>
              <td>20</td>
            </tr>

            <tr class="RAK">
              <td>12.</td>
              <td>HC Rakovník B</td>
              <td>19</td>
              <td>2</td>

              <td>2</td>
              <td>1</td>

              <td>14</td>
              <td>81</td>
              <td>127</td>
              <td>-46</td>
              <td>11</td>
            </tr>

            <tr class="CER">
              <td>13.</td>
              <td>SK Černošice B</td>
              <td>19</td>
              <td>2</td>

              <td>0</td>
              <td>2</td>

              <td>15</td>
              <td>61</td>
              <td>127</td>
              <td>-66</td>
              <td>8</td>
            </tr>

            <tr class="ZLO">
              <td>14.</td>
              <td>HC Zlonice</td>
              <td>19</td>
              <td>1</td>

              <td>0</td>
              <td>0</td>

              <td>18</td>
              <td>33</td>
              <td>127</td>
              <td>-94</td>
              <td>3</td>
            </tr>

            <tr class="HVĚ">
              <td>15.</td>
              <td>HC Hvězda Kladno</td>
              <td>0</td>
              <td>0</td>

              <td>0</td>
              <td>0</td>

              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
          </table>

          <div class="text-center mt-6">
            <a href="#" class="font-size-smaller">Kompletní tabulka</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
