<section class="c-match-section">
  <article>
    <div class="container-fluid mb-6">
      <div class="row align-items-center justify-content-center">
        <div
          class="col-12 col-md-4 alfa text-primary text-center text-md-right mb-md-0 mb-3"
        >
          HC Buldoci Neratovice
        </div>
        <div class="col-12 d-none d-xl-block col-xl-auto">
          <img
            src="./images/content/ner1.png"
            width="100"
            height="100"
            alt=""
            class="img-fluid d-block"
          />
        </div>
        <div class="col-12 col-md-auto col-xl-auto text-center mb-3 mb-md-0">
          <div class="alfa font-secondary text-primary">-:-</div>
          <div class="font-size-smaller"></div>
        </div>
        <div class="col-12 d-none d-xl-block col-xl-auto">
          <img
            src="./images/content/ner1.jpeg"
            width="100"
            height="100"
            alt=""
            class="img-fluid d-block"
          />
        </div>
        <div
          class="col-12 col-md-4 alfa text-primary text-center text-md-left mb-md-0"
        >
          HC Hvězda Kladno
        </div>
        <div class="col-12 text-center typography mt-3">
          <p class="mb-0">
            <span class="font-weight-bold">9. 10. 2021 - 19:00</span>
            <br />
            Neratovice, Buldok Arena
            <br />
            <span class="font-weight-bold"> </span>
          </p>
        </div>
      </div>
    </div>
    <div class="container-fluid mb-20 bg-white box-shadow p-5 p-md-8">
      <div class="row justify-content-center is-active">
        <div class="col-12 col-md-8 col-lg-7 order-md-2 mt-4 mt-md-0">
          <div class="row">
            <div class="col-12 col-md-6 typography">
              <h2 class="gamma text-transformation-none mt-1 mb-2">
                HC Hronov
              </h2>
              <p>
                Konrád (Lukáš) – Ondrušek, J. Galvas, Švrček, Škůrek,
                Jaroměřský, Dujsík, Staně – Strapáč, Kolouch, Irgl – Ostřížek,
                J. Knotek, V. Tomeček – Burian, Nahodil, Jergl – Laš, Skladaný,
                Holec.
              </p>
            </div>
            <div class="col-12 col-md-6 typography">
              <h2 class="gamma text-transformation-none mt-1 mb-2">
                HC Hronov
              </h2>
              <p>
                Konrád (Lukáš) – Ondrušek, J. Galvas, Švrček, Škůrek,
                Jaroměřský, Dujsík, Staně – Strapáč, Kolouch, Irgl – Ostřížek,
                J. Knotek, V. Tomeček – Burian, Nahodil, Jergl – Laš, Skladaný,
                Holec.
              </p>
            </div>
          </div>
          <h3>Branky</h3>
          <div class="row">
            <div class="col-12 col-md-6 typography">
              <p>
                11“ Konrád (Lukáš), 11“ Konrád (Lukáš) , 11“ Konrád (Lukáš) ,
                11“ Konrád (Lukáš)
              </p>
            </div>
            <div class="col-12 col-md-6 typography">
              <p>11“ Konrád (Lukáš), 11“ Konrád (Lukáš) , 11“ Konrád (Lukáš)</p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row justify-content-center mt-8 pt-8 border-top border-bcolor"
      >
        <div class="col-12 col-md-8 col-lg-7 typography">
          <h3>Ve šlágru kola A-tým vyhrál zápas proti první Nové Vsi</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil,
            veritatis ipsum atque, ut, quaerat quas error expedita magnam
            perferendis omnis autem non dicta porro. Eaque fugit rem accusantium
            labore quod!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil,
            veritatis ipsum atque, ut, quaerat quas error expedita magnam
            perferendis omnis autem non dicta porro. Eaque fugit rem accusantium
            labore quod!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil,
            veritatis ipsum atque, ut, quaerat quas error expedita magnam
            perferendis omnis autem non dicta porro. Eaque fugit rem accusantium
            labore quod!
          </p>
        </div>
      </div>
    </div>
  </article>
</section>
