.show-on-focus {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  &:focus {
    z-index: 20;
    width: auto;
    height: auto;
    clip: auto;
    padding: 1em;
    background-color: var(--color-primary);
    color: var(--color-light);
  }
}

.visually-hidden {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  visibility: hidden;
  white-space: nowrap;
  position: absolute;
}
.overlay::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 0;
}
.overlay-gradient-primary::after {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    to(#1b1b1b)
  );
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #1b1b1b 100%);
}
