.lazy {
  -webkit-transition: blur 0.3s ease-out;
  transition: blur 0.3s ease-out;
}
.lazy.loaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
.lazy-wrapper {
  padding-bottom: 183.63%;
  background-color: gray;
}
.lazy-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
}
