.table {
  width: 100%;
  border-collapse: collapse;
}
.table caption {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
}
.table th {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-primary);
  text-align: left;
}
.table tbody td {
  line-height: 1.3em;
}
.table td,
.table th {
  font-size: 14px;
  padding: 12px 20px;
}
.table th[aria-sort="ascending"] {
  background: url("../images/sort-up.svg") right 1rem center no-repeat;
  background-size: 1rem auto;
}
.table th[aria-sort="descending"] {
  background: url("../images/sort-down.svg") right 1rem center no-repeat;
  background-size: 1rem auto;
}
.fonts-stage-2 .table thead th {
  font-family: "Roboto", sans-serif;
}
.table-bordered td,
.table-bordered th {
  border-bottom: 1px solid #e7eaef;
}
.table-striped tbody tr {
  background: #575757;
}
.table-striped tbody tr:nth-child(even) {
  background: #575757;
}
.table-striped tbody tr:hover {
  background: #575757;
}
.table-condensed tbody td {
  padding: 0.36em;
}
.table-league tr.WOLF {
  display: table-row;
  color: var(--color-red);
}
.table-league td:nth-child(1),
.table-league td:nth-child(2) {
  font-weight: 700;
}
.table-league td,
.table-league th {
  border-bottom: 1px solid #e7eaef;
}
.table-condensed thead th {
  padding: 0.36em;
}
@media (max-width: 991.98px) {
  .table-responsive {
    width: 100%;
    overflow: scroll;
  }
}
.table-league td,
.table-league th,
.table-league tr {
  display: none;
}
.table-league tr:nth-child(1),
.table-league tr:nth-child(2),
.table-league tr:nth-child(3),
.table-league tr:nth-child(4),
.table-league tr:nth-child(5) {
  display: table-row;
}
.table-league td:nth-child(1),
.table-league td:nth-child(2),
.table-league td:nth-child(8) {
  display: table-cell;
}
.table-league th:nth-child(1),
.table-league th:nth-child(2),
.table-league th:nth-child(8) {
  display: table-cell;
  text-align: left;
}
.table-league-big th {
  text-align: left;
}
