<section class="c-contacts-section">
  <article class="bg-page overflow-hidden">
    <div class="container-fluid mb-4 mt-21">
      <h1 class="text-white ml-md-6 ml-xl-23 mb-0">Kontakt</h1>
    </div>
    <div class="wrapper container-fluid mb-20">
      <div class="bg-white box-shadow p-6 pl-xl-23 pr-xl-23 pb-lg-8 pt-lg-8">
        <div class="row no-gutters">
          <div class="col-12 col-lg-9">
            <div class="mr-lg-8 mr-xl-23">
              <div class="typography">
                <h3>TELEFON</h3>
                <p>+420 604 220 632</p>
                <h3>E-MAIL</h3>
                <p>
                  <a href="mailto:kontakt@hcbuldocineratovice.cz"
                    >kontakt@hcbuldocineratovice.cz</a
                  >
                </p>
                <h5>ADRESA</h5>
                <p>Masarykova 1474, 277 11 Neratovice</p>
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2550.698267034911!2d14.518272115247761!3d50.26021947944952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470be898873d1ea1%3A0xe6e2b21589d54f1!2sMasarykova%201474%2C%20277%2011%20Neratovice!5e0!3m2!1sen!2scz!4v1614621463930!5m2!1sen!2scz"
                  data-cookiecategory="social"
                  data-placeholder
                  data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2550.698267034911!2d14.518272115247761!3d50.26021947944952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470be898873d1ea1%3A0xe6e2b21589d54f1!2sMasarykova%201474%2C%20277%2011%20Neratovice!5e0!3m2!1sen!2scz!4v1614621463930!5m2!1sen!2scz"
                  width="600"
                  height="450"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                >
                </iframe>
              </div>
            </div>
          </div>
          <aside class="col-12 col-lg-3">
            <section class="mb-20">
              <h4 class="beta">Klub</h4>
              <ul>
                <li
                  class="border-bottom border-top border-bcolor pb-3 pt-3 d-flex align-items-center"
                >
                  {% include "@images/arrow-right.svg" %}<a
                    href="#"
                    class="font-weight-bold text-primary"
                    >Historie</a
                  >
                </li>
                <li
                  class="border-bottom border-top border-bcolor pb-3 pt-3 d-flex align-items-center"
                >
                  {% include "@images/arrow-right.svg" %}<a
                    href="#"
                    class="font-weight-bold text-primary"
                    >Kontakt</a
                  >
                </li>
                <li
                  class="border-bottom border-top border-bcolor pb-3 pt-3 d-flex align-items-center"
                >
                  {% include "@images/arrow-right.svg" %}<a
                    href="#"
                    class="font-weight-bold text-primary"
                    >Novinky</a
                  >
                </li>
                <li
                  class="border-bottom border-top border-bcolor pb-3 pt-3 d-flex align-items-center"
                >
                  {% include "@images/arrow-right.svg" %}<a
                    href="#"
                    class="font-weight-bold text-primary"
                    >Roztleskávačky</a
                  >
                </li>
              </ul>
            </section>

            <section class="mb-20">
              <h4 class="beta mb-1">Aktuality</h4>
              <article class="position-relative">
                <img
                  src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1460&amp;h=680&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/articles_photo/31_buldoci-2022.jpg"
                  data-src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1460&amp;h=680&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/articles_photo/31_buldoci-2022.jpg"
                  data-srcset="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1460&amp;h=680&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/articles_photo/31_buldoci-2022.jpg 2x"
                  width="240"
                  height="125"
                  class="d-block mb-3 w-100 img-fluid lazy js-lazy"
                  alt=""
                /><time
                  class="d-block text-secondary font-size-smaller mb-2"
                  datetime="20. 7. 2022"
                  >20. 7. 2022</time
                ><a
                  href="#"
                  ="Mladsi-dorost-vstupuje-do-pripravy-na-sezonu-2022-23-31"
                  class="delta d-block mb-0 stretched-link text-primary text-decoration-none"
                  >Mladší dorost vstupuje do přípravy na sezónu 2022/23</a
                >
              </article>
              <article class="position-relative">
                <img
                  src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1460&amp;h=680&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/articles_photo/27_buldoci-nabor-2011.png"
                  data-src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1460&amp;h=680&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/articles_photo/27_buldoci-nabor-2011.png"
                  data-srcset="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1460&amp;h=680&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/articles_photo/27_buldoci-nabor-2011.png 2x"
                  width="240"
                  height="125"
                  class="d-block mb-3 w-100 img-fluid lazy js-lazy"
                  alt=""
                /><time
                  class="d-block text-secondary font-size-smaller mb-2"
                  datetime="18. 7. 2022"
                  >18. 7. 2022</time
                ><a
                  href="#"
                  ="Nabor-malych-hokejistu-a-hokejistek-27"
                  class="delta d-block mb-0 stretched-link text-primary text-decoration-none"
                  >Nábor malých hokejistů a hokejistek.</a
                >
              </article>
              <article class="position-relative">
                <img
                  src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1460&amp;h=680&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/articles_photo/30_upper-edge-skate-sharpening.jpg"
                  data-src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1460&amp;h=680&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/articles_photo/30_upper-edge-skate-sharpening.jpg"
                  data-srcset="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1460&amp;h=680&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/articles_photo/30_upper-edge-skate-sharpening.jpg 2x"
                  width="240"
                  height="125"
                  class="d-block mb-3 w-100 img-fluid lazy js-lazy"
                  alt=""
                /><time
                  class="d-block text-secondary font-size-smaller mb-2"
                  datetime="10. 1. 2022"
                  >10. 1. 2022</time
                ><a
                  href="#"
                  ="Brouseni-brusli-pan-Vaclav-Pek-st-tel-603-518-988-30"
                  class="delta d-block mb-0 stretched-link text-primary text-decoration-none"
                  >Broušení bruslí pan Václav Pek st. tel 603 518 988</a
                >
              </article>
            </section>

            <!--
                  misto pro banner
                  <div class="mb-20">
                      <a href="" class="d-block"><img src="images/content/banner-merch.png" width="240" height="460" alt="Nakupuj merch a podpor Tatran" class="d-block img-fluid" /></a>
                  </div>
                  -->
          </aside>
        </div>
      </div>
    </div>
  </article>
</section>
