<aside
  class="bg-white border-bottom border-secondary border-lg p-6 pt-lg-21 pb-lg-21"
>
  <h5 class="text-center gamma text-primary text-uppercase mb-4">
    Oficiální partneři
  </h5>

  <div
    class="partner-group align-items-center mb-8"
    style="--partner-height: 10rem; --partner-columns: 6"
  >
    <a
      target="_blank"
      href="#"
      class="text-center h-100 d-flex align-items-center justify-content-center"
    >
      <img
        class="partner-logo d-block lazy js-lazy"
        data-src="/images/partners/1.png"
        src="/images/partners/1.png"
        alt=""
      />
    </a>

    <a
      target="_blank"
      href="#"
      class="text-center h-100 d-flex align-items-center justify-content-center"
    >
      <img
        class="partner-logo d-block lazy js-lazy"
        data-src="/images/partners/2.png"
        src="/images/partners/2.png"
        alt=""
      />
    </a>

    <a
      target="_blank"
      href="#"
      class="text-center h-100 d-flex align-items-center justify-content-center"
    >
      <img
        class="partner-logo d-block lazy js-lazy"
        data-src="/images/partners/3.png"
        src="/images/partners/3.png"
        alt=""
      />
    </a>

    <a
      target="_blank"
      href="#"
      class="text-center h-100 d-flex align-items-center justify-content-center"
    >
      <img
        class="partner-logo d-block lazy js-lazy"
        data-src="/images/partners/4.png"
        src="/images/partners/4.png"
        alt=""
      />
    </a>

    <a
      target="_blank"
      href="#"
      class="text-center h-100 d-flex align-items-center justify-content-center"
    >
      <img
        class="partner-logo d-block lazy js-lazy"
        data-src="/images/partners/5.jpeg"
        src="/images/partners/5.jpeg"
        alt=""
      />
    </a>

    <a
      target="_blank"
      href="#"
      class="text-center h-100 d-flex align-items-center justify-content-center"
    >
      <img
        class="partner-logo d-block lazy js-lazy"
        data-src="/images/partners/6.jpeg"
        src="/images/partners/6.jpeg"
        alt=""
      />
    </a>
  </div>
</aside>
