<section class="c-table-section">
  <article class="bg-page overflow-hidden">
    <div class="container-fluid mb-4 mt-21">
      <h1 class="text-white ml-md-6 ml-xl-23 mb-0">Tabulka</h1>
    </div>
    <div class="wrapper container-fluid mb-20">
      <div class="bg-white box-shadow p-6 pl-xl-23 pr-xl-23 pb-lg-8 pt-lg-8">
        <div class="row align-items-center mb-5">
          <div class="col-12 col-lg-7">
            <h2 class="text-primary mb-3 mb-xl-0">
              <span id="title-season-part">Krajská soutěž mužů 21/22</span>
            </h2>
          </div>

          <div class="col-12 col-lg-5">
            <form action="/zapasy.asp" method="get">
              <div class="row align-items-end">
                <div class="col-12 col-md-5">
                  <label
                    for="sezona"
                    class="d-block font-weight-bold mb-1 font-size-smaller"
                    >Sezóna:</label
                  >
                  <select
                    name="sezona"
                    id="sezona"
                    data-autosubmit
                    data-replace="#season-year"
                    data-target="#ajax-pane"
                    class="select-css"
                  >
                    <option value="">2021/22</option>
                  </select>
                </div>

                <div class="col-12 col-md-5">
                  <label
                    for="kategorie"
                    class="d-block font-weight-bold mb-1 font-size-smaller"
                    >Část:</label
                  >
                  <select
                    name="kategorie"
                    id="kategorie"
                    data-autosubmit
                    data-target="#ajax-pane"
                    class="select-css"
                  >
                    <option value="MZC">Liga starších žáků "B"</option>
                    <option value="MLZ">Liga starších žáků "A"</option>
                    <option value="MZD">Liga mladších žáků "C"</option>
                    <option value="STZ">Liga dorostu</option>
                    <option value="5TR">Liga mladších žáků "D"</option>
                    <option value="4TR">
                      Soutěž 5. tříd Středočeského kraje
                    </option>
                    <option value="3TR">
                      Soutěž 4. tříd Středočeského kraje
                    </option>
                    <option value="2TR">
                      Soutěž 3. tříd Středočeského kraje
                    </option>
                    <option value="1TR">
                      Soutěž 2. tříd Středočeského kraje
                    </option>
                    <option value="MUZ" selected>Krajská soutěž mužů</option>
                  </select>
                </div>
                <div class="col-12 button">
                  <input type="submit" class="submit select-css" value="OK" />
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered table-league-big">
            <tbody>
              <tr>
                <th title="Pozice">#</th>
                <th title="Název týmu">Tým</th>
                <th title="Zápasy">Z</th>
                <th title="Výhry">V</th>
                <th title="Výhry v prodloužení">Vp</th>

                <th title="Prohry">P</th>
                <th title="Prohry v prodloužení">Pp</th>
                <th title="Vstřelené branky">VB</th>
                <th title="Inkasované branky">IB</th>
                <th title="Skóre">+/-</th>
                <th title="Body">B</th>
              </tr>

              <tr class="NYM">
                <td>1.</td>
                <td>HC Nymburský Lev, z.s.</td>
                <td>5</td>
                <td>4</td>
                <td>0</td>

                <td>1</td>
                <td>0</td>
                <td>39</td>
                <td>24</td>
                <td>+15</td>
                <td>12</td>
              </tr>

              <tr class="BNJ">
                <td>2.</td>
                <td>HC Benátky n.J.</td>
                <td>6</td>
                <td>4</td>
                <td>0</td>

                <td>2</td>
                <td>0</td>
                <td>31</td>
                <td>21</td>
                <td>+10</td>
                <td>12</td>
              </tr>

              <tr class="PŘI">
                <td>3.</td>
                <td>HC Příbram</td>
                <td>4</td>
                <td>3</td>
                <td>0</td>

                <td>1</td>
                <td>0</td>
                <td>26</td>
                <td>8</td>
                <td>+18</td>
                <td>9</td>
              </tr>

              <tr class="HVĚ">
                <td>4.</td>
                <td>HC Hvězda Kladno</td>
                <td>4</td>
                <td>3</td>
                <td>0</td>

                <td>1</td>
                <td>0</td>
                <td>26</td>
                <td>21</td>
                <td>+5</td>
                <td>9</td>
              </tr>

              <tr class="SOL">
                <td>5.</td>
                <td>TJ Sokol Solopisky z.s.</td>
                <td>4</td>
                <td>2</td>
                <td>0</td>

                <td>1</td>
                <td>1</td>
                <td>21</td>
                <td>24</td>
                <td>-3</td>
                <td>7</td>
              </tr>

              <tr class="NER">
                <td>6.</td>
                <td>HC Buldoci Neratovice</td>
                <td>3</td>
                <td>2</td>
                <td>0</td>

                <td>1</td>
                <td>0</td>
                <td>30</td>
                <td>13</td>
                <td>+17</td>
                <td>6</td>
              </tr>

              <tr class="SED">
                <td>7.</td>
                <td>Tatran Sedlčany</td>
                <td>4</td>
                <td>2</td>
                <td>0</td>

                <td>2</td>
                <td>0</td>
                <td>22</td>
                <td>11</td>
                <td>+11</td>
                <td>6</td>
              </tr>

              <tr class="HOŘ">
                <td>8.</td>
                <td>HC Cvočkaři Hořovice</td>
                <td>3</td>
                <td>2</td>
                <td>0</td>

                <td>1</td>
                <td>0</td>
                <td>10</td>
                <td>9</td>
                <td>+1</td>
                <td>6</td>
              </tr>

              <tr class="ČER">
                <td>9.</td>
                <td>SK Černošice</td>
                <td>4</td>
                <td>2</td>
                <td>0</td>

                <td>2</td>
                <td>0</td>
                <td>11</td>
                <td>26</td>
                <td>-15</td>
                <td>6</td>
              </tr>

              <tr class="ŽIL">
                <td>10.</td>
                <td>SK VELC Žilina</td>
                <td>4</td>
                <td>1</td>
                <td>0</td>

                <td>3</td>
                <td>0</td>
                <td>24</td>
                <td>22</td>
                <td>+2</td>
                <td>3</td>
              </tr>

              <tr class="LET">
                <td>11.</td>
                <td>HC Letci Letňany</td>
                <td>3</td>
                <td>1</td>
                <td>0</td>

                <td>2</td>
                <td>0</td>
                <td>11</td>
                <td>14</td>
                <td>-3</td>
                <td>3</td>
              </tr>

              <tr class="RAK">
                <td>12.</td>
                <td>HC Rakovník</td>
                <td>3</td>
                <td>1</td>
                <td>0</td>

                <td>2</td>
                <td>0</td>
                <td>10</td>
                <td>19</td>
                <td>-9</td>
                <td>3</td>
              </tr>

              <tr class="ZIZ">
                <td>13.</td>
                <td>SK Žižkov Praha</td>
                <td>4</td>
                <td>1</td>
                <td>0</td>

                <td>3</td>
                <td>0</td>
                <td>14</td>
                <td>38</td>
                <td>-24</td>
                <td>3</td>
              </tr>

              <tr class="HKP">
                <td>14.</td>
                <td>HK Příbram 99</td>
                <td>4</td>
                <td>0</td>
                <td>1</td>

                <td>3</td>
                <td>0</td>
                <td>15</td>
                <td>20</td>
                <td>-5</td>
                <td>2</td>
              </tr>

              <tr class="ZLO">
                <td>15.</td>
                <td>HC Zlonice</td>
                <td>3</td>
                <td>0</td>
                <td>0</td>

                <td>3</td>
                <td>0</td>
                <td>7</td>
                <td>27</td>
                <td>-20</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </article>
</section>
