.main-header {
  position: relative;
  box-shadow: 0 24px 52px rgba(0, 0, 0, 0.2);
  border-top: 0.5rem solid var(--color-primary);
  &.is-open {
    position: static;
  }
}
.menu-item.is-active .submenu {
  display: block;
}
@include media-breakpoint-down(md) {
  .submenu-link,
  .submenu-item {
    color: var(--color-primary) !important;
    background-color: var(--color-light);
  }
  .submenu-item + .submenu-item {
    border-top: 1px solid rgba(#333, 0.4);
  }
}
