.scoreboard {
  scroll-snap-type: x mandatory;
}

.scoreboard-slider {
  @include media-breakpoint-up(lg) {
    overflow: hidden;
  }

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: auto;
}

.scoreboard-item {
  height: 7.2rem;
  scroll-snap-align: start;

  &:hover,
  &:focus {
    background-color: var(--color-border) !important;
  }
}
