<footer
  class="main-footer bg-primary pt-7 pb-7 pt-md-9 pb-md-9 text-md-center pl-3 pr-3"
  role="contentinfo"
>
  <small class="font-size-small font-weight-bold text-white"
    >&copy; Buldoci Neratovice - All rights reserved &
    <a class="text-white" href="https://esportsmedia.cz">eSports.cz, s.r.o.</a>
    |
    <a
      class="text-white"
      href="javascript:void(0);"
      data-cc="c-settings"
      aria-haspopup="dialog"
      >Nastavení cookies</a
    ></small
  >
</footer>
