<section class="c-social-stream-section">
   <div class="container-fluid mb-9">
      <div class="row border-bottom border-bcolor mb-6">
  
          <div class='col-12 col-md-6 col-lg-4 mb-4 mb-lg-0'>
            <article>
               <a target='_blank' href='#' class='text-primary text-decoration-none stretched-link'>
                  <img class='social-thumb d-block img-fluid w-100' src="images/content/pic01.jpg"  alt=''  width='420' height='250'/>
                  <div class='bg-white pt-4 pl-4 pr-4 pl-lg-6 pr-lg-6 pb-4 position-relative z-index-5'>
                     <div class="social-facebook mb-2">
                        {% include "@images/facebook.svg" %}
                     </div>
                     <div class='typography'>
                        <p class='mb-0 font-size-smaller'>
                           <a target='_blank' href='#' class='text-primary text-decoration-none stretched-link'>
                              https://www.hcbuldocineratovice.cz/clanek.asp?id=Mladsi-dorost-vstupuje-do-pripravy-na-sezonu-2022-23-31
                           </a>
                        </p>
                     </div>
                  </div>
               </article>
            </a>
         </div>
         <div class='col-12 col-md-6 col-lg-4 mb-4 mb-lg-0'>
            <article>
               <a target='_blank' href='#' class='text-primary text-decoration-none stretched-link'>
                  <img class='social-thumb d-block img-fluid w-100' src="images/content/pic01.jpg"  alt=''  width='420' height='250'/>
                  <div class='bg-white pt-4 pl-4 pr-4 pl-lg-6 pr-lg-6 pb-4 position-relative z-index-5'>
                     <div class="social-facebook mb-2">
                        {% include "@images/facebook.svg" %}
                     </div>
                     <div class='typography'>
                        <p class='mb-0 font-size-smaller'>
                           <a target='_blank' href='#' class='text-primary text-decoration-none stretched-link'>
                              O v&#237;kendu si #buldoci2007 pojistili 3. M&#237;sto v lize star&#353;&#237;ch &#382;&#225;k&#367; "A"  Kr&#225;lov&#233;hradeck&#233;ho kraje sk. G, kdy&#382; porazili HC Chrudim t&#283;sn&#253;m...
                           </a>
                        </p>
                     </div>
                  </div>
               </article>
            </a>
         </div>
         <div class='col-12 col-md-4 d-md-none d-lg-block'>
            <article>
               <a target='_blank' href='#' class='text-primary text-decoration-none stretched-link'>
                  <img class='social-thumb d-block img-fluid w-100' src="images/content/pic01.jpg"  alt=''  width='420' height='250'/>
                  <div class='bg-white pt-4 pl-4 pr-4 pl-lg-6 pr-lg-6 pb-4 position-relative z-index-5'>
                     <div class="social-facebook mb-2">
                        {% include "@images/facebook.svg" %}
                     </div>
                     <div class='typography'>
                        <p class='mb-0 font-size-smaller'><a target='_blank' href='#' class='text-primary text-decoration-none stretched-link'>
                           &#352;koli&#269;ka bruslen&#237; a ve&#345;ejn&#233; bruslen&#237; v&#237;kend 19.-20.3 .2022&#352;koli&#269;ka bruslen&#237; 19.3 a 20.3.2022 od 7:45 do 8.45 pod veden&#237;m tren&#233;r&#367; HC...
                        </a>
                     </p>
                  </div>
               </div>
            </article>
         </a>
      </div>
      </div>
  </div>
</section>