{% extends "@components/base/base.twig" %} {% set title = "04.0_archiv" %} {%
block main %}
<div class="mb-8">{% include "@components/scoreboard/scoreboard.twig" %}</div>
{% include "@components/archiv-section/archiv-section.twig" %} {% include
"@components/pub/pub.twig" %} {% include
"@components/partners-section/partners-section.twig" %} {% endblock %}
