{% extends "@components/base/base.twig" %} {% set title = "05.0_clanek" %} {%
block main %}
<div class="mb-8">{% include "@components/scoreboard/scoreboard.twig" %}</div>
{% include "@components/article-section/article-section.twig" %} {% include
"@components/pub/pub.twig" %} {% include
"@components/partners-section/partners-section.twig" %} {% endblock %}
