{% extends "@components/base/base.twig" %} {% set title = "06.0_videogalerie" %}
{% block main %}
<div class="mb-8">{% include "@components/scoreboard/scoreboard.twig" %}</div>
{% include "@components/videogallery-section/videogallery-section.twig" %} {%
include "@components/pub/pub.twig" %} {% include
"@components/partners-section/partners-section.twig" %} {% endblock %}
