{% extends "@components/base/base.twig" %} {% set title = "07.0_zapasy" %} {%
block main %}
<div class="mb-8">{% include "@components/scoreboard/scoreboard.twig" %}</div>
{% include "@components/matches-section/matches-section.twig" %} {% include
"@components/pub/pub.twig" %} {% include
"@components/partners-section/partners-section.twig" %} {% endblock %}
