{% extends "@components/base/base.twig" %} {% set title = "08.0_prehled-zapasu"
%} {% block main %}
<div class="mb-8">{% include "@components/scoreboard/scoreboard.twig" %}</div>
{% include "@components/match-section/match-section.twig" %} {% include
"@components/pub/pub.twig" %} {% include
"@components/partners-section/partners-section.twig" %} {% endblock %}
