{% extends "@components/base/base.twig" %} {% set title = "10.0_hrac-detail" %}
{% block main %}
<div class="mb-8">{% include "@components/scoreboard/scoreboard.twig" %}</div>
{% include "@components/player-section/player-section.twig" %} {% include
"@components/pub/pub.twig" %} {% include
"@components/partners-section/partners-section.twig" %} {% endblock %}
