<div
  class="js-slider scoreboard position-relative z-index-5 box-shadow d-flex align-items-center bg-white border-bottom border-bcolor overflow-auto"
>
  <div
    class="scoreboard-item pl-4 pr-4 border-right border-bcolor bg-white d-none d-lg-flex align-items-center"
  >
    <button class="btn-link p-0 m-0 js-scoreboard-prev" disabled>
      {% include "@images/arrow-left-square.svg" %}
    </button>
  </div>
  <div
    class="scoreboard-slider d-flex align-items-center flex-grow-1 js-scoreboard-slider"
  >
    <div
      class="scoreboard-item flex-shrink-0 pl-3 pr-3 border-right border-bcolor bg-gray-light position-relative transition"
    >
      <div class="d-flex h-100 align-items-center">
        <div class="mr-6">
          <div class="d-flex align-items-center font-size-smaller mb-1">
            <img
              data-src="http://satyr.io/19x19"
              src="images/content/club.png"
              width="19"
              height="19"
              alt=""
              class="js-lazy lazy d-block mr-2"
            />
            <div>KER</div>
            <div
              class="font-weight-bold text-secondary ml-6 flex-grow-1 text-right"
            >
              0
            </div>
          </div>
          <div class="d-flex align-items-center font-size-smaller">
            <img
              data-src="http://satyr.io/19x19"
              src="images/content/club.png"
              width="19"
              height="19"
              alt=""
              class="js-lazy lazy d-block mr-2"
            />
            <div>LET</div>
            <div
              class="font-weight-bold text-secondary ml-6 flex-grow-1 text-right"
            >
              0
            </div>
          </div>
        </div>
        <div
          class="font-size-small text-white text-center text-nowrap bg-secondary rounded pt-1 pb-1 pl-4 pr-4"
        >
          před utkáním
        </div>
      </div>
      <a href="" class="stretched-link"
        ><span class="sr-only">Karta zápasu</span></a
      >
    </div>
    <div
      class="scoreboard-item flex-shrink-0 pl-3 pr-3 border-right border-bcolor bg-white position-relative transition"
    >
      <div class="d-flex h-100 align-items-center">
        <div class="mr-6">
          <div class="d-flex align-items-center font-size-smaller mb-1">
            <img
              data-src="http://satyr.io/19x19"
              src="images/content/club.png"
              width="19"
              height="19"
              alt=""
              class="js-lazy lazy d-block mr-2"
            />
            <div>KER</div>
            <div
              class="font-weight-bold text-primary ml-6 flex-grow-1 text-right"
            >
              0
            </div>
          </div>
          <div class="d-flex align-items-center font-size-smaller">
            <img
              data-src="http://satyr.io/19x19"
              src="images/content/club.png"
              width="19"
              height="19"
              alt=""
              class="js-lazy lazy d-block mr-2"
            />
            <div>LET</div>
            <div
              class="font-weight-bold text-primary ml-6 flex-grow-1 text-right"
            >
              0
            </div>
          </div>
        </div>
        <div
          class="font-size-small text-white text-center text-nowrap bg-primary rounded pt-1 pb-1 pl-4 pr-4"
        >
          19.9. <br />Konec
        </div>
      </div>
      <a href="" class="stretched-link"
        ><span class="sr-only">Karta zápasu</span></a
      >
    </div>
    <div
      class="scoreboard-item flex-shrink-0 pl-3 pr-3 border-right border-bcolor bg-gray-light position-relative transition"
    >
      <div class="d-flex h-100 align-items-center">
        <div class="mr-6">
          <div class="d-flex align-items-center font-size-smaller mb-1">
            <img
              data-src="http://satyr.io/19x19"
              src="images/content/club.png"
              width="19"
              height="19"
              alt=""
              class="js-lazy lazy d-block mr-2"
            />
            <div>KER</div>
            <div
              class="font-weight-bold text-secondary ml-6 flex-grow-1 text-right"
            >
              0
            </div>
          </div>
          <div class="d-flex align-items-center font-size-smaller">
            <img
              data-src="http://satyr.io/19x19"
              src="images/content/club.png"
              width="19"
              height="19"
              alt=""
              class="js-lazy lazy d-block mr-2"
            />
            <div>LET</div>
            <div
              class="font-weight-bold text-secondary ml-6 flex-grow-1 text-right"
            >
              0
            </div>
          </div>
        </div>
        <div
          class="font-size-small text-white text-center text-nowrap bg-secondary rounded pt-1 pb-1 pl-4 pr-4"
        >
          2. třetina
        </div>
      </div>
      <a href="" class="stretched-link"
        ><span class="sr-only">Karta zápasu</span></a
      >
    </div>
    <div
      class="scoreboard-item flex-shrink-0 pl-3 pr-3 border-right border-bcolor bg-white position-relative transition"
    >
      <div class="d-flex h-100 align-items-center">
        <div class="mr-6">
          <div class="d-flex align-items-center font-size-smaller mb-1">
            <img
              data-src="http://satyr.io/19x19"
              src="images/content/club.png"
              width="19"
              height="19"
              alt=""
              class="js-lazy lazy d-block mr-2"
            />
            <div>KER</div>
            <div
              class="font-weight-bold text-primary ml-6 flex-grow-1 text-right"
            >
              0
            </div>
          </div>
          <div class="d-flex align-items-center font-size-smaller">
            <img
              data-src="http://satyr.io/19x19"
              src="images/content/club.png"
              width="19"
              height="19"
              alt=""
              class="js-lazy lazy d-block mr-2"
            />
            <div>LET</div>
            <div
              class="font-weight-bold text-primary ml-6 flex-grow-1 text-right"
            >
              0
            </div>
          </div>
        </div>
        <div
          class="font-size-small text-white text-center text-nowrap bg-primary rounded pt-1 pb-1 pl-4 pr-4"
        >
          Konec
        </div>
      </div>
      <a href="" class="stretched-link"
        ><span class="sr-only">Karta zápasu</span></a
      >
    </div>
    <div
      class="scoreboard-item flex-shrink-0 pl-3 pr-3 border-right border-bcolor bg-gray-light position-relative transition"
    >
      <div class="d-flex h-100 align-items-center">
        <div class="mr-6">
          <div class="d-flex align-items-center font-size-smaller mb-1">
            <img
              data-src="http://satyr.io/19x19"
              src="images/content/club.png"
              width="19"
              height="19"
              alt=""
              class="js-lazy lazy d-block mr-2"
            />
            <div>KER</div>
            <div
              class="font-weight-bold text-secondary ml-6 flex-grow-1 text-right"
            >
              0
            </div>
          </div>
          <div class="d-flex align-items-center font-size-smaller">
            <img
              data-src="http://satyr.io/19x19"
              src="images/content/club.png"
              width="19"
              height="19"
              alt=""
              class="js-lazy lazy d-block mr-2"
            />
            <div>LET</div>
            <div
              class="font-weight-bold text-secondary ml-6 flex-grow-1 text-right"
            >
              0
            </div>
          </div>
        </div>
        <div
          class="font-size-small text-white text-center text-nowrap bg-secondary rounded pt-1 pb-1 pl-4 pr-4"
        >
          2. třetina
        </div>
      </div>
      <a href="" class="stretched-link"
        ><span class="sr-only">Karta zápasu</span></a
      >
    </div>
    <div
      class="scoreboard-item flex-shrink-0 pl-3 pr-3 border-right border-bcolor bg-white position-relative transition"
    >
      <div class="d-flex h-100 align-items-center">
        <div class="mr-6">
          <div class="d-flex align-items-center font-size-smaller mb-1">
            <img
              data-src="http://satyr.io/19x19"
              src="images/content/club.png"
              width="19"
              height="19"
              alt=""
              class="js-lazy lazy d-block mr-2"
            />
            <div>KER</div>
            <div
              class="font-weight-bold text-primary ml-6 flex-grow-1 text-right"
            >
              0
            </div>
          </div>
          <div class="d-flex align-items-center font-size-smaller">
            <img
              data-src="http://satyr.io/19x19"
              src="images/content/club.png"
              width="19"
              height="19"
              alt=""
              class="js-lazy lazy d-block mr-2"
            />
            <div>LET</div>
            <div
              class="font-weight-bold text-primary ml-6 flex-grow-1 text-right"
            >
              0
            </div>
          </div>
        </div>
        <div
          class="font-size-small text-white text-center text-nowrap bg-primary rounded pt-1 pb-1 pl-4 pr-4"
        >
          Konec
        </div>
      </div>
      <a href="" class="stretched-link"
        ><span class="sr-only">Karta zápasu</span></a
      >
    </div>
    <div
      class="scoreboard-item flex-shrink-0 pl-3 pr-3 border-right border-bcolor bg-gray-light position-relative transition"
    >
      <div class="d-flex h-100 align-items-center">
        <div class="mr-6">
          <div class="d-flex align-items-center font-size-smaller mb-1">
            <img
              data-src="http://satyr.io/19x19"
              src="images/content/club.png"
              width="19"
              height="19"
              alt=""
              class="js-lazy lazy d-block mr-2"
            />
            <div>KER</div>
            <div
              class="font-weight-bold text-secondary ml-6 flex-grow-1 text-right"
            >
              0
            </div>
          </div>
          <div class="d-flex align-items-center font-size-smaller">
            <img
              data-src="http://satyr.io/19x19"
              src="images/content/club.png"
              width="19"
              height="19"
              alt=""
              class="js-lazy lazy d-block mr-2"
            />
            <div>LET</div>
            <div
              class="font-weight-bold text-secondary ml-6 flex-grow-1 text-right"
            >
              0
            </div>
          </div>
        </div>
        <div
          class="font-size-small text-white text-center text-nowrap bg-secondary rounded pt-1 pb-1 pl-4 pr-4"
        >
          2. třetina
        </div>
      </div>
      <a href="" class="stretched-link"
        ><span class="sr-only">Karta zápasu</span></a
      >
    </div>
    <div
      class="scoreboard-item flex-shrink-0 pl-3 pr-3 border-right border-bcolor bg-white position-relative transition"
    >
      <div class="d-flex h-100 align-items-center">
        <div class="mr-6">
          <div class="d-flex align-items-center font-size-smaller mb-1">
            <img
              data-src="http://satyr.io/19x19"
              src="images/content/club.png"
              width="19"
              height="19"
              alt=""
              class="js-lazy lazy d-block mr-2"
            />
            <div>KER</div>
            <div
              class="font-weight-bold text-primary ml-6 flex-grow-1 text-right"
            >
              0
            </div>
          </div>
          <div class="d-flex align-items-center font-size-smaller">
            <img
              data-src="http://satyr.io/19x19"
              src="images/content/club.png"
              width="19"
              height="19"
              alt=""
              class="js-lazy lazy d-block mr-2"
            />
            <div>LET</div>
            <div
              class="font-weight-bold text-primary ml-6 flex-grow-1 text-right"
            >
              0
            </div>
          </div>
        </div>
        <div
          class="font-size-small text-white text-center text-nowrap bg-primary rounded pt-1 pb-1 pl-4 pr-4"
        >
          Konec
        </div>
      </div>
      <a href="" class="stretched-link"
        ><span class="sr-only">Karta zápasu</span></a
      >
    </div>
    <div
      class="scoreboard-item flex-shrink-0 pl-3 pr-3 border-right border-bcolor bg-gray-light position-relative transition"
    >
      <div class="d-flex h-100 align-items-center">
        <div class="mr-6">
          <div class="d-flex align-items-center font-size-smaller mb-1">
            <img
              data-src="http://satyr.io/19x19"
              src="images/content/club.png"
              width="19"
              height="19"
              alt=""
              class="js-lazy lazy d-block mr-2"
            />
            <div>KER</div>
            <div
              class="font-weight-bold text-secondary ml-6 flex-grow-1 text-right"
            >
              0
            </div>
          </div>
          <div class="d-flex align-items-center font-size-smaller">
            <img
              data-src="http://satyr.io/19x19"
              src="images/content/club.png"
              width="19"
              height="19"
              alt=""
              class="js-lazy lazy d-block mr-2"
            />
            <div>LET</div>
            <div
              class="font-weight-bold text-secondary ml-6 flex-grow-1 text-right"
            >
              0
            </div>
          </div>
        </div>
        <div
          class="font-size-small text-white text-center text-nowrap bg-secondary rounded pt-1 pb-1 pl-4 pr-4"
        >
          2. třetina
        </div>
      </div>
      <a href="" class="stretched-link"
        ><span class="sr-only">Karta zápasu</span></a
      >
    </div>
    <div
      class="scoreboard-item flex-shrink-0 pl-3 pr-3 border-right border-bcolor bg-white position-relative transition"
    >
      <div class="d-flex h-100 align-items-center">
        <div class="mr-6">
          <div class="d-flex align-items-center font-size-smaller mb-1">
            <img
              data-src="http://satyr.io/19x19"
              src="images/content/club.png"
              width="19"
              height="19"
              alt=""
              class="js-lazy lazy d-block mr-2"
            />
            <div>KER</div>
            <div
              class="font-weight-bold text-primary ml-6 flex-grow-1 text-right"
            >
              0
            </div>
          </div>
          <div class="d-flex align-items-center font-size-smaller">
            <img
              data-src="http://satyr.io/19x19"
              src="images/content/club.png"
              width="19"
              height="19"
              alt=""
              class="js-lazy lazy d-block mr-2"
            />
            <div>LET</div>
            <div
              class="font-weight-bold text-primary ml-6 flex-grow-1 text-right"
            >
              0
            </div>
          </div>
        </div>
        <div
          class="font-size-small text-white text-center text-nowrap bg-primary rounded pt-1 pb-1 pl-4 pr-4"
        >
          Konec
        </div>
      </div>
      <a href="" class="stretched-link"
        ><span class="sr-only">Karta zápasu</span></a
      >
    </div>
  </div>
  <div
    class="scoreboard-item pl-4 pr-4 border-left border-bcolor d-none d-lg-flex align-items-center"
  >
    <button class="btn-link p-0 m-0 js-scoreboard-prev" disabled>
      {% include "@images/arrow-right-square.svg" %}
    </button>
  </div>
</div>
