<section class="c-topstory-section">
  <div class="container-fluid mt-9">
    <div class="row border-bottom border-bcolor mb-6">
      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <article>
          <a href="#" class="text-decoration-none stretched-link text-primary">
            <img
              src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=420&amp;h=250&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/articles_photo/31_buldoci-2022.jpg"
              alt=""
              class="d-block w-100 img-fluid"
            />
            <div
              class="bg-white pt-4 pl-4 pr-4 pl-lg-6 pr-lg-6 pb-4 position-relative z-index-5"
            >
              <time
                class="d-block text-primary font-secondary font-size-smaller mb-2"
                datetime="2020-05-18T"
                >20. 7. 2022</time
              >
              <h3 class="delta mb-0">
                <a
                  href="#"
                  class="text-decoration-none stretched-link color-text"
                  >Mladší dorost vstupuje do přípravy na sezónu 2022/23</a
                >
              </h3>
            </div>
          </a>
        </article>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <article>
          <a href="#" class="text-decoration-none stretched-link text-primary">
            <img
              src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=420&amp;h=250&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/articles_photo/27_buldoci-nabor-2011.png"
              alt=""
              class="d-block w-100 img-fluid"
            />
            <div
              class="bg-white pt-4 pl-4 pr-4 pl-lg-6 pr-lg-6 pb-4 position-relative z-index-5"
            >
              <time
                class="d-block text-primary font-secondary font-size-smaller mb-2"
                datetime="2020-05-18T"
                >18. 7. 2022</time
              >
              <h3 class="delta mb-0">
                <a
                  href="#"
                  class="text-decoration-none stretched-link color-text"
                  >Nábor malých hokejistů a hokejistek.</a
                >
              </h3>
            </div>
          </a>
        </article>
      </div>

      <div class="col-12 col-md-4 d-md-none d-lg-block">
        <article>
          <a href="#" class="text-decoration-none stretched-link text-primary">
            <img
              src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=420&amp;h=250&amp;compresss=&amp;mtime=&amp;file=http://www.hcbuldocineratovice.cz/files/articles_photo/30_upper-edge-skate-sharpening.jpg"
              alt=""
              class="d-block w-100 img-fluid"
            />
            <div
              class="bg-white pt-4 pl-4 pr-4 pl-lg-6 pr-lg-6 pb-4 position-relative z-index-5"
            >
              <time
                class="d-block text-primary font-secondary font-size-smaller mb-2"
                datetime="2020-05-18T"
                >10. 1. 2022</time
              >
              <h3 class="delta mb-0">
                <a
                  href="#"
                  class="text-decoration-none stretched-link color-text"
                  >Broušení bruslí pan Václav Pek st. tel 603 518 988</a
                >
              </h3>
            </div>
          </a>
        </article>
      </div>
    </div>
    <div class="text-center mb-9">
      <a href="" class="btn btn-secondary">Všechny novinky</a>
    </div>
  </div>
</section>
