.border-md {
  border-width: 3px !important;
}
.border-lg {
  border-width: 5px !important;
}

a.border {
  &:hover {
    @include media-breakpoint-up(lg) {
      border-color: lighten(#1b1b1b, 80) !important;
    }
  }
}

.border-secondary {
  border-color: var(--color-red) !important;
}
.border-secondary-darker {
  border-color: var(--var(--color-dark)) !important;
}

.border-5 {
  border-width: 5px !important;
}
.border-bottom {
  border-bottom: 1px solid #e7eaef !important;
}
.border-right {
  border-right: 1px solid #e7eaef !important;
}
.border-left {
  border-left: 1px solid #e7eaef !important;
}
