.icon {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
}
@media (prefers-reduced-motion: reduce) {
  .icon {
    -webkit-transition: none;
    transition: none;
  }
}
