.font-primary {
  font-family: "Helvetica", "Arial", "Verdana", sans-serif !important;
}
.font-secondary {
  font-family: "Roboto", sans-serif !important;
}

.fonts-stage-2 h1,
.fonts-stage-2 .alfa,
.fonts-stage-2 h2,
.fonts-stage-2 .beta,
.fonts-stage-2 h3,
.fonts-stage-2 .gamma,
.fonts-stage-2 h4,
.fonts-stage-2 .delta,
.fonts-stage-2 h5,
.fonts-stage-2 .epsilon,
.fonts-stage-2 h6,
.fonts-stage-2 thead th,
.fonts-stage-2 .zeta,
.fonts-stage-2 .btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.font-size-mega {
  line-height: 1;
}
.font-size-xsmall {
  font-size: 10px !important;
}
@media (min-width: 576px) {
  .font-size-sm-xsmall {
    font-size: 10px !important;
  }
}
@media (min-width: 768px) {
  .font-size-md-xsmall {
    font-size: 10px !important;
  }
}
@media (min-width: 992px) {
  .font-size-lg-xsmall {
    font-size: 10px !important;
  }
}
@media (min-width: 1320px) {
  .font-size-xl-xsmall {
    font-size: 10px !important;
  }
}
.font-size-small {
  font-size: 12px !important;
}
@media (min-width: 576px) {
  .font-size-sm-small {
    font-size: 12px !important;
  }
}
@media (min-width: 768px) {
  .font-size-md-small {
    font-size: 12px !important;
  }
}
@media (min-width: 992px) {
  .font-size-lg-small {
    font-size: 12px !important;
  }
}
@media (min-width: 1320px) {
  .font-size-xl-small {
    font-size: 12px !important;
  }
}
.font-size-smaller {
  font-size: 14px !important;
}
@media (min-width: 576px) {
  .font-size-sm-smaller {
    font-size: 14px !important;
  }
}
@media (min-width: 768px) {
  .font-size-md-smaller {
    font-size: 14px !important;
  }
}
@media (min-width: 992px) {
  .font-size-lg-smaller {
    font-size: 14px !important;
  }
}
@media (min-width: 1320px) {
  .font-size-xl-smaller {
    font-size: 14px !important;
  }
}
.font-size-normal {
  font-size: 16px !important;
}
@media (min-width: 576px) {
  .font-size-sm-normal {
    font-size: 16px !important;
  }
}
@media (min-width: 768px) {
  .font-size-md-normal {
    font-size: 16px !important;
  }
}
@media (min-width: 992px) {
  .font-size-lg-normal {
    font-size: 16px !important;
  }
}
@media (min-width: 1320px) {
  .font-size-xl-normal {
    font-size: 16px !important;
  }
}
.font-size-bigger {
  font-size: 18px !important;
}
@media (min-width: 576px) {
  .font-size-sm-bigger {
    font-size: 18px !important;
  }
}
@media (min-width: 768px) {
  .font-size-md-bigger {
    font-size: 18px !important;
  }
}
@media (min-width: 992px) {
  .font-size-lg-bigger {
    font-size: 18px !important;
  }
}
@media (min-width: 1320px) {
  .font-size-xl-bigger {
    font-size: 18px !important;
  }
}
.font-size-big {
  font-size: 20px !important;
}
@media (min-width: 576px) {
  .font-size-sm-big {
    font-size: 20px !important;
  }
}
@media (min-width: 768px) {
  .font-size-md-big {
    font-size: 20px !important;
  }
}
@media (min-width: 992px) {
  .font-size-lg-big {
    font-size: 20px !important;
  }
}
@media (min-width: 1320px) {
  .font-size-xl-big {
    font-size: 20px !important;
  }
}
.font-size-mega {
  font-size: 72px !important;
}
@media (min-width: 576px) {
  .font-size-sm-mega {
    font-size: 72px !important;
  }
}
@media (min-width: 768px) {
  .font-size-md-mega {
    font-size: 72px !important;
  }
}
@media (min-width: 992px) {
  .font-size-lg-mega {
    font-size: 72px !important;
  }
}
@media (min-width: 1320px) {
  .font-size-xl-mega {
    font-size: 72px !important;
  }
}
.font-weight-light {
  font-weight: 300 !important;
}
.font-weight-lighter {
  font-weight: lighter !important;
}
.font-weight-normal {
  font-weight: 400 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.font-weight-bolder {
  font-weight: bolder !important;
}
.font-italic {
  font-style: italic !important;
}
